<ul>
  <li ng-repeat="item in $ctrl.items"
      ng-click="itemList.setActiveItem(item.short_name)">
      <!-- ui-sref="items.item-detail({itemShortName:item.short_name})" -->
    <span class="menu_item">{{ item.name }} - {{ item.short_name}}</span>
    <!-- <div ng-show="item.short_name===itemList.activeItem"> -->
    <div class="item_detail">
      <span ng-if="item.description">{{ item.description }}<br></span>
      <span ng-if="item.price_small">
        Large {{ item.price_large | currency }} -
        Small {{ item.price_small | currency }}
      </span>
      <span ng-if="!item.price_small">
        {{ item.price_large | currency }}
      </span>
    </div>
  </li>
</ul>
